body {
    background-color: honeydew;
  }

img {
  border: 1px solid #662f1060;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h3.G {
  font : italic small-caps bold 12px/30px Georgia, serif;
}

header {
  background-color: lightgray;
    border: 2px solid #be988260;
  border-radius: 4px;
}

aside {
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  float: right;
  background-color: lightgray;
}

footer{
    background-color: lightgray;
}
)