body {
    background-color: honeydew;
  }

img {
  border: 1px solid #662f1060;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h3.G {
  font : italic small-caps bold 12px/30px Georgia, serif;
}

header {
  background-color: lightgray;
    border: 2px solid #be988260;
  border-radius: 4px;
}


.Information-about-myself{
  background-color: lightgray;
}

.grid-container {
  display: grid;
  grid: 350px / auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  background-color: honeydew;
}

.grid-container > div {
  background-color: rgb(209, 216, 221);
  border: 2px solid #be988260;
  padding: 20px 0;
}

footer{
    background-color: lightgray;
}